@import url(../reindeer/styles.css);

@import url(pager.css);

@import url(visible-readonly.css);

@import url(test.css);

@import url(login.css);

@import url(dashboard.css);

@import url(topmenu.css);

@import url(component.css);

/* Using the old default theme (runo) as the basis for now */

.v-panel-deco-light {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: center /* Force default alignment */
}

.toolbar .v-button {
	display: block;
	width: 65px;
	height: 55px;
	background: transparent;
	border: none;
	text-align: center;
}

.toolbar .v-button img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.toolbar .v-button span {
	font-size: x-small;
	text-shadow: #fafafa 1px 1px 0;
}

/* .v-app { */
/*       background: #d0e2ec; */
/*       font-family: "Lucida Grande", Helvetica, Arial, sans-serif; */
/*       color: #222; */
/* } */
.toolbar {
	background: url(images/banner_02.png) repeat-x top left;
}

.v-textarea {
	resize: none;
	/* 	width: 300px;
	height: 100px;
   max-width: 300px; 
   max-height: 100px; */
}

.v-select-optiongroup-horizontal .v-select-option {
	display: inline-block;
}

.v-table-row-error {
	color: #FF0000;
}

.v-table-row-error:hover {
	color: #00FF00;
}

.v-table-cell-content-errorFromWhom {
	font-weight: bold;
}

.v-tree-node-inactive {
	color: #FF0000;
}

.v-tree-node-active {
	color: #000000;
}

.table-header-center .v-table-caption-container {
	text-align: center;
}

.mca-textfield-right {
	text-align: right;
}

.mca-panel-caption .v-panel-caption {
	font-size: medium;
	text-align: left;
	padding: 3px 0px;
	/* height: 30px; */
	vertical-align: middle;
	/* background-color: #FF0000; */
}

.mca-panel-caption-center .v-panel-caption {
	text-align: left;
	padding: 3px 0px;
}

.v-tree-node.v-tree-node-root {
	font-weight: bold;
}

.v-tree-node-children .v-tree-node .v-tree-node-leaf {
	font-weight: normal;
}

.mca-normal-node .v-tree-node-leaf {
	font-weight: normal;
}

.v-tree-node-no-children {
	background: none;
}

.v-tree-node-no-children .v-tree-node-caption {
	margin-left: 0px;
}

.mca-enabled {
	opacity: 1;
	filter: alpha(opacity =                     100);
	cursor: default;
	color: black;
}

.mca-enabled .v-textfield.v-disabled {
	background: none;
	border: 1px solid #BCBDBE;
}

.mca-enabled .v-textarea.v-disabled {
	background: none;
	border: 1px solid #BCBDBE;
}

.mca-enabled .v-datefield.v-disabled {
	background: none;
	border: 1px solid #BCBDBE;
	border-radius: 3px;
}

.mca-enabled .v-datefield.v-disabled .v-textfield {
	background: none;
	border: none;
}

.mca-enabled .v-datefield.v-disabled .v-datefield-button {
	display: none;
}

.mca-enabled .v-filterselect.v-disabled {
	background: none;
	border: 1px solid #BCBDBE;
	border-radius: 3px;
}

.mca-enabled .v-filterselect.v-disabled input {
	background: none;
	border: none;
}

.mca-enabled .v-filterselect.v-disabled .v-filterselect-button {
	display: none;
}

/* .mca-readonly .v-textarea.v-readonly,.v-textfield.v-readonly,.v-datefield.v-readonly 
{
	background: white;
	color: red;
	border: 1px solid #aaa;
} */

/* input[disabled='disabled'] 
{
	color: black;
} */

/* .mca-disabled .v-disabled .v-formlayout-captioncell .v-caption
{
	opacity: 0.8;
	filter: alpha(opacity=80);
	cursor: default;
}
.mca-disabled .v-formlayout .v-disabled
{
	opacity: 0.8;
	filter: alpha(opacity=80);
	cursor: default;
} */
/* 
.v-disabled .v-formlayout-row .v-formlayout-contentcell input
{
	background-color: #ffc;
}

.v-disabled .v-formlayout-row .v-formlayout-contentcell .v-filterselect input
{
	background-color: red;
} */
.v-menubar {
	background: #fff repeat-x top left;
/* 		background: #fff url(images/vMenubarBg_.jpg) repeat-x top left; */
	/* 	font-weight: bold; */
	color: #000000;
	/* 	color: #242426; */
	text-shadow: none;
}

.v-menubar :hover {
	color: #ffffff;
}

.v-menubar :active {
	color: #ffffff;
}

div.v-Notification {
	background: #003DF5 url(images/error-close-blue.png) no-repeat right top;
	;
}

div.v-Notification-system {
	background: #B40000;
}

div.v-Notification-error h1 {
	font-size: larger;
	/* padding-left: 44px; */
	/* background: transparent url(../../img/label-error-icon-big.png) */
		background: transparent ;
		no-repeat 0 50%;
}

div.v-Notification-error {
	background: #B40000 url(../reindeer/notification/img/error-close.png)
		no-repeat right top;
}

div.v-Notification h1 {
	font-size: larger;
	/* background: #003DF5; */
}

.v-table-caption-container {
	font-weight: normal;
	text-transform: none;
	font-size: 12px;
	color: black;
}

.v-menubar .v-menubar-menuitem.v-menubar-menuitem-form-caption {
	text-align: right;
}

.v-menubar-menuitem .v-menubar-menuitem-form-caption {
	width: 150px;
}

.mca-login-background {
	background-color: #BBC2BC;
}

.mca-provisioning-caption {
	text-align: center;
}

.v-menubar .v-menubar-menuitem:hover {
	background: #4d749f repeat-x;
/* 	background-image: url(common/img/vertical-sprites.png); */
	-background-image: url(common/img/vertical-sprites-ie6.png);
	background-position: left -406px;
	color: #fff;
	text-shadow: 0 1px 0 #3b5a7a;
}

.v-menubar .v-menubar-menuitem.v-menubar-menuitem-form-caption:hover {
	background: none;
	color: #000;
	text-shadow: none;
}

.v-menubar .v-menubar-menuitem.v-menubar-menuitem-form-caption .v-menubar-menuitem-caption:hover
	{
	color: #000;
}

.gwt-RichTextToolbar {
	display: none;
}

.menubarRight {
	text-align: right;
}

.txtMsgContent {
	width: 100%;
	height: auto;
}

.formlayout-notop .v-formlayout-firstrow .v-formlayout-captioncell,.formlayout-notop .v-formlayout-firstrow .v-formlayout-contentcell,.formlayout-notop .v-formlayout-firstrow .v-formlayout-errorcell
	{
	padding-top: 0px;
}

.btnImportPromTemp {
	margin-left: 78px;
}

.AdsPanel {
	background-color: #ffffff;
	border-top-color: #BCC5CA;
	font-size: 14px;
	font-weight: bold;
}


/* .sensitiveRed .v-button-caption {
	font-size: 12pt;
	font-weight: bold;
	color: green;
} */
.Menu_bMainLayout {
	padding-top: 15xp;
}

.mca-panel-caption .v-panel-caption {
	font-size: medium;
	text-align: left;
	padding: 3px 0px;
	/* height: 30px; */
	vertical-align: middle;
	/* background-color: #FF0000; */
}

.mca-panel-caption-center .v-panel-caption {
	text-align: left;
	padding: 3px 0px;
}

.Form_GridLayout_Style .v-gridlayout {
	
}

.Form_GridLayout_Style .v-gridlayout-margin {
	text-align: left;
	margin-top: 0px;
	vertical-align: middle;
}

.Form_GridLayout_Style .v-label {
	padding-top: 4px;
	padding-right: 4px;
}

/* Lay the options horizontally */
.v-select-optiongroup-horizontal .v-select-option {
	display: inline-block;
}

/* Avoid wrapping if the layout is too tight */
.v-select-optiongroup-horizontal {
	white-space: nowrap;
}

/* Some extra spacing is needed */
.v-select-optiongroup-horizontal
  .v-select-option.v-radiobutton {
	padding-right: 10px;
}

.v-label-lableformcaption {
	font-size: 14px;
	line-height: normal;
}

.v-label-reglablemsisdn {
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	text-align: center;
	margin: 2px;
}

.upload-hidden-button .v-button {
	display: none;
}

.v-label-reglablemsisdn {
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	text-align: center;
}

.upload-hidden-button .v-button {
	display: none;
}

.subscriber-detail-leftpanel .label {
	font-size: 13px;
	font-style: italic;
	
	padding-left:20px;
	padding-top:5px;
	padding-bottom:5px;
	
	font-weight: bold;
	
}

.subscriber-detail-leftpanel-button .v-button-caption {
	padding-left: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: inherit;
	font-weight: normal;
	
	font-size: 12px;
	text-shadow: none;
	text-decoration:none;
}

.subscriber-detail-leftpanel-button {
	text-decoration:none;
	margin: 5px 5px 5px 0px ;
}

.subscriber-detail-leftpanel-buttonActive {
	text-decoration:none;
	margin: 5px 5px 5px 0px ;
}

.subscriber-detail-leftpanel-button .v-button-caption:HOVER {
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: inherit;
	font-weight: bold;
	color: #54a4db;
	font-size: 13px; 
	text-shadow: none;
	text-decoration:none;
}

.subscriber-detail-leftpanel-buttonActive .v-button-caption {
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 10px;
	line-height: inherit;
	font-weight: bold;
	color:#54a4db;
	font-size: 13px;
	text-shadow: none;
	text-decoration:none;
}

.lbDetailCaption {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	padding-left: 50px;
	margin-bottom: 30px;
}

.lbSubDetailCaption {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	text-align: center;

}

.v-panel-content .v-verticallayout .pnlSubDetailLabel
{
	height: 30px;
	
}	
