<div style="vertical-align: middle;text-align: center;padding-top: 50px">
		<div style="width:333px;
					height: 352px;
					display: inline-block;
					padding: 10px;
					color: #ebebeb;
					font: 12px Arial, Helvetica, sans-serif;
					background: url(../images/bg.png) no-repeat left top;">
			<h1 style="text-align: center;
						padding-top: 20px;
					   margin:0;
					   color: #ebebeb;
					    font: bold 70px "Calibri", Arial;">Đăng nhập hệ thống</h1>
			<div id="login-box-name" style="float: left;
											display:inline;
											width:80px;
											text-align: right;
											padding: 10px 5px 0 0;
											/* margin:0 0 7px 0; */
											margin-top: 25px;">Tài khoản:</div>
			<div id="login-box-field" style="float: left;
											display:inline;
											width:230px;
											margin:0;
											margin:0 0 7px 0;
											margin-top: 20px;">
					<div location="username"  style="width: 205px;
															padding: 10px 4px 6px 3px;
															
															font-size: 16px;
															color: #ebebeb;"></div>
			</div>
			<div id="login-box-name" style="float: left;
											display:inline;
											width:80px;
											text-align: right;
											padding: 14px 5px 0 0;
											margin:5 0 7px 0;">Mật khẩu:</div>
			<div id="login-box-field" style="float: left;
											display:inline;
											width:230px;
											margin:0;
											margin:0 0 7px 0;">
					<div location="password" style="width: 205px;
						padding: 10px 4px 6px 3px;
			
						font-size: 16px;
						color: #ebebeb;"></div>
			</div>
			<br /> 
			 <br /> <br />
			  <div location="okbutton" style="text-align: center;"></div>
			
		</div>
	</div>
